<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="yara khattab">
        <meta name="description" content="A full-stack weather application that fetches real-time weather data, including temperature, location, and forecast, using external APIs with a responsive and user-friendly interface.">
        <meta name="keywords" content="Weather App, Weather Forecast, Node.js, Express.js, HTML, CSS, JavaScript, API, OpenWeather API, Responsive Design, Full Stack">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="/fa/css/all.min.css">
    </head>
    <body lang="en">
     <div class="card">
      <h1><i class="fa-solid fa-cloud-sun"></i> Weather App</h1>
      <div class="nam"><input type="text" placeholder="Enter country name"><div id="sniper"></div></div>
      <div class="info"><i class="fa-solid fa-location-dot"></i><h3>Country:</h3> </div>
      <div class="info"><i class="fa-solid fa-globe"></i><h3>Latitude:</h3></div>
      <div class="info"><i class="fa-solid fa-globe"></i><h3>Longitude:</h3></div>
      <div class="info"><i class="fa-solid fa-temperature-half"></i><h3>Temperature:</h3></div>
      <button id="btn">Get Weather</button>
     </div>
     <script src="js/script.js"></script>
    </body>
</html>